parameters:
  phpstanLaravelValidation:
    laravelVersion: '10.0.0'
    formRequests:
      enabled: true
      trustedClasses:
        - jbboehr\PhpstanLaravelValidation\Test\Fixtures\FormRequest\TrustedWithValidatorRequest
