parameters:
  phpstanLaravelValidation:
    laravelVersion: '10.0.0'
    formRequests:
      enabled: true
      additionalClasses:
        - jbboehr\PhpstanLaravelValidation\Test\Fixtures\FormRequest\PassedValidationRequest
      trustedClasses:
        - jbboehr\PhpstanLaravelValidation\Test\Fixtures\FormRequest\TrustedWithValidatorRequest
