* text=auto

.github export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore

/composer.lock linguist-generated
/phpstan-baseline.neon linguist-generated
/nix/composition.nix linguist-generated
/nix/composer-env.nix linguist-generated
/nix/php-packages.nix linguist-generated

# we can't export-ignore these (for composer) or nix build will fail...
#.phpcs.xml.dist export-ignore
#phpstan.neon.dist export-ignore
#/tests export-ignore
#phpunit.xml.dist export-ignore
