services:
  - class: jbboehr\PhpstanLaravelValidation\Evaluator\UnsafeConstExprEvaluator
  - class: jbboehr\PhpstanLaravelValidation\Extension\ControllerValidateExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ControllerValidateWithExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FacadeMakeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FacadeValidateExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FactoryMakeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\RequestValidateExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ValidatorFunctionExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ValidatorValidatedExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
