parameters:
  stubFiles:
    - stubs/Validator.stub
  phpstanLaravelValidation:
    assumeHttpInputNormalization: false
    laravelVersion: auto
    customRules:
      classes: []
      names: []

parametersSchema:
  phpstanLaravelValidation: structure([
    assumeHttpInputNormalization: bool(),
    laravelVersion: string(),
    customRules: structure([
      classes: arrayOf(string()),
      names: arrayOf(string())
    ])
  ])

services:
  - class: jbboehr\PhpstanLaravelValidation\Evaluator\UnsafeConstExprEvaluator
  - class: jbboehr\PhpstanLaravelValidation\Validation\CustomRuleTypeResolver
    arguments:
      configuredClasses: %phpstanLaravelValidation.customRules.classes%
      configuredNames: %phpstanLaravelValidation.customRules.names%
  - class: jbboehr\PhpstanLaravelValidation\Validation\RuleSetResolver
  - class: jbboehr\PhpstanLaravelValidation\Validation\LaravelVersionContext
    arguments:
      workingDirectory: %currentWorkingDirectory%
      configuredVersion: %phpstanLaravelValidation.laravelVersion%
    tags:
      - phpstan.resultCacheMetaExtension
  - class: jbboehr\PhpstanLaravelValidation\Validation\TypeResolver
  - class: jbboehr\PhpstanLaravelValidation\Type\ValidatorTypeHelper
  - class: jbboehr\PhpstanLaravelValidation\Extension\ControllerValidateExtension
    arguments:
      assumeHttpInputNormalization: %phpstanLaravelValidation.assumeHttpInputNormalization%
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ControllerValidateWithExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FacadeMakeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FacadeValidateExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\FactoryMakeExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\RequestValidateExtension
    arguments:
      assumeHttpInputNormalization: %phpstanLaravelValidation.assumeHttpInputNormalization%
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ValidatorFunctionExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ValidatorSetRulesExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
  - class: jbboehr\PhpstanLaravelValidation\Extension\ValidatorValidatedExtension
    tags:
      - phpstan.broker.dynamicMethodReturnTypeExtension
