parameters:
  phpstanLaravelValidation:
    laravelVersion: '10.0.0'
    customRules:
      classes:
        jbboehr\PhpstanLaravelValidation\Test\CustomRules\IntegerRule: int
      names:
        custom_integer: int
