parameters:
  phpstanLaravelValidation:
    laravelVersion: '10.0.0'
    customRules:
      classes:
        jbboehr\PhpstanLaravelValidation\Test\CustomRules\IntegerRule: int
        jbboehr\PhpstanLaravelValidation\Test\CustomRules\PrecedenceRule: bool
      names:
        custom_integer: int
